$--main-color: #F62135; //主题色

$--color-333: #333333;
$--color-666: #666666;
$--color-95: #959595;
$--color-999: #999999;
$--color-ccc: #cccccc;
$--color-ddd: #DDDDDD;
$--color-E9: #E9E9E9;
$--color-F5: #f5f5f5;

body,
html {
  width: 100%;
  height: 100%;
}
* {
  -webkit-overflow-scrolling: touch;
}

/* 全局常用类 */
.com-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.com-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.com-flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.com-flex-col-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.com-over-length {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.vux-slider > .vux-swiper {
  height: 100% !important;
}
.com-icon-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.open-input {
  border: 0px;
  padding: 6px 10px;
}

/* 阿里图标库引入 */
@font-face {
  font-family: 'iconfont';  /* project id 1018005 */
  src: url('//at.alicdn.com/t/font_1018005_3zdt3itnsge.eot');
  src: url('//at.alicdn.com/t/font_1018005_3zdt3itnsge.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1018005_3zdt3itnsge.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1018005_3zdt3itnsge.woff') format('woff'),
  url('//at.alicdn.com/t/font_1018005_3zdt3itnsge.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1018005_3zdt3itnsge.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:after {content: "\e61f";}
.icon-purse:before {content: "\e65b";}
.icon-youhuiquan:before {content: "\e69b";}
